ADMIN_MATRIX_PASSCODE=replace-with-manager-passcode
TECH_PASSCODES_JSON={"Dalton Tyler":"replace-with-dalton-passcode","Tim Kay":"replace-with-tim-passcode","Justin Ward":"replace-with-justin-ward-passcode","Justin Sokola":"replace-with-justin-sokola-passcode","Matthew Bouley":"replace-with-matthew-passcode","Cameron Densmore":"replace-with-cameron-passcode","Nyasia Torres":"replace-with-nyasia-passcode","Tony Luo":"replace-with-tony-passcode"}
